<!DOCTYPE html>
<html>
    <head>
        <title>Modular Mean</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="MyApp" layout="column" ng-controller="NavigationController" ng-strict-di>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Modular Mean</h1>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Toggle Navigation" hide-gt-sm>
                    <span class="visually-hidden">Menu</span>
                    <ng-md-icon class="menu" style="fill: #fff" icon="menu" size="30" ng-click="toggleRightSidenav()"></ng-md-icon>
                </md-button>
                <div hide-sm>
                    <md-button ng-repeat="item in nav.items" ui-sref="{{ item.state }}" ui-sref-active="md-accent">{{ item.title }}</md-button>
                </div>
            </div>
        </md-toolbar>

        <div layout="row" flex>

            <div md-content ui-view="" layout="row" flex></div>

            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2><span>Navigation</span></h2>
                    </div>
                </md-toolbar>
                <md-content flex role="navigation">
                    <ul class="sidenav-list" layout="column">
                        <li ng-repeat="item in nav.items">
                            <md-button class="md-button" ui-sref="{{ item.state }}" ui-sref-active="md-accent">{{ item.title }}</md-button>
                            <md-divider></md-divider>
                        </li>
                    </ul>
                </md-content>
            </md-sidenav>

        </div>

        <script src="bundle.js"></script>
    </body>
</html>
