<!DOCTYPE html>
<html>
    <head>
        <title>Modular Mean</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="MyApp" ng-strict-di layout="column">
        <md-toolbar layout="row" id="topbar">
            <h1 id="banner" class="md-toolbar-tools" layout-align-gt-sm="center">To Do</h1>
        </md-toolbar>

        <!-- <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-content flex role="navigation">
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
            </md-content>
        </md-sidenav> -->

        <div ui-view="" layout="row" flex></div>

        <!-- <md-bottom-sheet class="md-list md-has-header">

            <md-subheader>
                Contact <span class="name">{{ vm.user.name }}</span>:
            </md-subheader>

            <md-list>
              <md-item ng-repeat="item in vm.items">
                <md-button ng-click="vm.performAction(item)">
                    <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
                    {{item.name}}
                </md-button>
              </md-item>
              <md-item><a>One</a></md-item>
              <md-item><a>Two</a></md-item>
            </md-list>

        </md-bottom-sheet> -->

        <script src="bundle.js"></script>
    </body>
</html>
